{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class = "px-7 py-3 w-full space-y-5">
    <div class = "text-6xl w-[60%]">
        Besar dan Berurat kesukaanku!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quaerat!
    </div>
    <div class = "flex gap-3">
        <div class = "rounded-full bg-black text-white px-3 py-1">
            <a href = "link"> Lorem, ipsum.</a>
        </div>
        <div class = "rounded-full bg-white text-black px-3 py-1">
            <a href = "link">Lorem, ipsum.</a>
        </div>
    </div>
    <div class = "grid grid-cols-3 gap-[40px]">
        <div class = "rounded-xl bg-gray-600 p-8">
            <div class = "flex justify-between items-center">
                <p>Lorem, ipsum.</p>
                <p>Lorem.</p>
            </div>
            <div>
                <p>Ambatron</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam.</p>
            </div>
        </div>
        <div class = "rounded-xl bg-gray-600 p-8">
            <div class = "flex justify-between items-center">
                <p>Lorem, ipsum.</p>
                <p>Lorem.</p>
            </div>
            <div>
                <p>Ambatron</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam.</p>
            </div>
        </div>
        <div class = "rounded-xl bg-gray-600 p-8">
            <div class = "flex justify-between items-center">
                <p>Lorem, ipsum.</p>
                <p>Lorem.</p>
            </div>
            <div>
                <p>Ambatron</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam.</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}