{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="px-10 py-10 w-full space-y-10]">
    <!-- Main Hero Section -->
    <div class = "flex justify-between items-center ">
        <div class="w-full mb-[70px]">
            <h1 class="text-8xl font-bold font-[Poppins] mb-10">Lorem ipsum dolor sit amet.</h1>
            <p class="text-gray-800 text-xl font-[Lora] mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio?</p>
            <div class="flex gap-5 mt-[60px]">
                <div class="flex items-center rounded-full bg-white w-[80%]">
                    <input type="text" placeholder="Search..." class="flex-grow rounded-full outline-none px-8 py-3" />
                    <button class="rounded-full p-2 flex items-center justify-center">
                        <img src="{% static 'image/search.png' %}" class="w-5 h-5 md:w-6 md:h-6 lg:w-8 lg:h-8 transition-transform duration-200 ease-in-out transform hover:scale-110" alt="Search" />
                    </button>
                </div>                
            </div>
        </div>
        <div>
            <img src="{% static 'image/monas.png' %}" class = "w-full">
        </div>
    </div>
    
    <!-- Features Section -->
    <div class="grid grid-cols-3 gap-8">
        <!-- Card 1 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>

        <!-- Card 2 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>

        <!-- Card 3 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>
    </div>
</div>

{% endblock %}
