{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="px-10 py-10 w-full space-y-10]">
    <!-- Main Hero Section -->
    <div class = "flex justify-between items-center mb-8">
        <div class="w-[50%] mb-[70px]">
            <h1 class="text-8xl font-bold font-[Poppins] mb-10">Lorem ipsum dolor sit amet.</h1>
            <p class="text-gray-800 text-xl font-[Lora] mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio?</p>
            <div class="gap-5 mt-[60px]">
                    <form method="GET" action="{% url 'main:search_instance' %}" class = "flex w-full">
                        {% csrf_token %}
                        <div class = "relative w-[80%]">
                            <input id = "inputanQuery" type="text" name="query" placeholder="Search..." class="rounded-full outline-none px-8 py-3 w-full block" required oninput="search()">
                            <button type="submit" class="absolute rounded-full top-2 sm:top-3 md:top-2 xl:top-2 right-2">
                            <img src="{% static 'image/search.png' %}" class="w-5 h-5 md:w-6 md:h-6 lg:w-8 lg:h-8 transition-transform duration-200 ease-in-out transform hover:scale-110" alt="Search">
                            </button>
                        </div>
                        <div class="relative inline-block group ml-2 items-center mt-2">
                            <button id='filterOn' class="rounded-full bg-white w-8 h-8 md:w-6 md:h-6 lg:w-8 lg:h-8">
                                <img src="{% static 'image/filter.png' %}" class="md:ml-[8px] w-4 h-4 md:w-3 md:h-3 lg:w-4 lg:h-4 transition-transform duration-200 ease-in-out transform hover:scale-110">
                            </button>
                        
                            <div id="filterSelectContainer" class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-md shadow-lg opacity-0 group-hover:opacity-100 group-hover:scale-100 transition-opacity transition-transform duration-200 ease-in-out transform scale-95 z-10">
                                <select id="filterSelect" class="block w-full px-4 py-2 text-gray-800 bg-white border-none focus:outline-none">
                                    <option>Search All</option>
                                    <option>Restaurant Only</option>
                                    <option>Food Only</option>
                                </select>
                            </div>
                        </div>
                    </form>
                {%if error_message %}   
                    <div class = "font-[Poppins] error-message mt-4">
                        {{error_message}}
                    </div>
                {% endif %}                           
            </div>
        </div>
        <div class = "w-[50%]">
            <img src="{% static 'image/monas.png' %}">
        </div>
    </div>
    
    <!-- Features Section -->
    <div class="grid grid-cols-3 gap-8">
        <!-- Card 1 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>

        <!-- Card 2 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>

        <!-- Card 3 -->
        <div class="flex flex-col justify-between bg-gray-200 rounded-xl p-8 h-[300px]">
            <div class="flex justify-between items-center">
                <p class="text-l font-semibold">Inigambar</p>
                <span class="text-gray-400">?</span>
            </div>
            <div class="flex justify-between items-center">
                <p class="text-xl font-[Poppins] font-semibold">Lorem, ipsum.</p>
            </div>
            <p class="text-gray-600 font-[Lora] mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, incidunt!</p>
        </div>
    </div>
</div>

<script>
    
    async function search(){
        const searchInput = document.getElementById("inputanQuery").value

        try{
            const response = await fetch(`/search?query=${searchInput}`, {
                method : 'GET', 
                headers: {
                    'X-Requested-With' : 'XMLHttpRequest',
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            
            if(!response.ok){
                const err = await response.json()
                console.log(err.message)
                return
            }
            const result = await response.json()
            console.log(result)
        }
        catch(error){
            console.log(error)
        }
    }

</script>
{% endblock %}
